﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p>姓名:@Html.TextBox("name","name")</p>
<p>account:@Html.TextBox("name","account")</p>
<p>password:@Html.Password("password")</p>
<p>
    性別:@Html.RadioButton("gender","A")Male
        @Html.RadioButton("gender","B")Female
</p>
<p>
    興趣:@Html.CheckBox("item", "A")吃飯
    @Html.CheckBox("item", "A")睡覺
</p>
<p>自我介紹:@Html.TextArea("text")

@*
       <p>姓名:<input type="type" name="name" value="" /></p>
    <p>account:<input type="text" name="firstname" value="" /></p>
    <p>password:<input type="password" name="username" value="" /></p>
    <p>性別:<input type="radio" name="gender" value="A" />Male<br>
          <input type="radio" name="gender" value="B" />Female<br>
        </p>
    <p>
        興趣:<input type="checkbox" name="item" value="A" />吃飯<br>
        <input type="checkbox" name="item" value="A" />睡覺<br>
    </p>
    <p>自我介紹:<textarea></textarea></p>
*@
